html{
    height: 100%;
}
.logging{
    background-image: url("../img/Iniciar-sesion.jpg");

}
.header .row{
    margin-bottom: 0px;
    align-items: center;
    display: flex;
}
.logo_sysdatec{
    display: flex;
    padding: 0!important;
}
.logocaja{
    background: linear-gradient(90deg, #42BFE6 0%, #34BC83 100%);
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius:  0 20px 20px 0;
    padding: 50px!important;
}
.sysdatec{
    margin: auto 0;
    padding: 0!important;
}
.sysdatec p{
    margin: 0;
    line-height: 22px;
    color: #003395;
    font-size: 20px;
}
.sysdatec .bold{
    font-weight: bold;
}
.nombre_usuario{
    display: flex;
    align-content: center;
    justify-content: end;
    font-weight: 600;
}
.nombre_usuario li{
    background: linear-gradient(to right, #42BFE6, #34BC83);
    padding: 7px 20px;
    border-radius: 5px;
    line-height: 30px;
}
.nombre_usuario li a{
    font-size: 18px;
}
.nombre_usuario li a:hover{
    background-color: transparent;
}
.nav{
    padding: 20px 0;
    height: auto;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 20px 20px;
}
.imagen_sys{
    display: flex;
    padding: 0!important;
}
.menu_lateral{
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.25);
    border-radius: 0 20px 20px 0px;
    height: 100%;
    width: 90px;
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
.menu_lateral{
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.25);
    border-radius: 0 20px 20px 0px;
    height: 100%;
    width: 90px;
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
.menu_lateral2{
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.25);
    border-radius: 0 20px 20px 0px;
    height: 100%;
    width: 200px;
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    padding-left: 25px!important;
}
.menu_lateral2 li{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.menu_lateral2 p{
    margin-left: 20px;
    font-weight: 600;
}
.menu_lateral li{
    text-align: center;
}
.menu{
    width: 100%;
}
.cerrar li{
    line-height: 0;
}
/** inicio de sesion*/
.fondo_inicio{
    background-image: url("../img/Iniciar-sesion.jpg");
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    height: 100%;
}
.sesion_contenedor{
    border-radius: 20px;
}
.sesion_contenedor .row{
    margin-bottom: 0;
}
lottie-player{
    margin: -50px 0 -50px 0;
}
.cajainicio{
    display: flex;
}
.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8%!important;
}
.formulario h2{
    margin: 0;
    text-align: left;
    color: #35BD98;
    font-size: 50px;
    font-weight: 600;
}
.formulario p{
    font-size: 25px;
    text-align: left;
    line-height: 30px;
    padding-bottom: 20px
}
.btninicio{
    background-color: #35BD98;
    border-radius: 10px;
    text-transform: none;
    font-size: 20px;
    margin-top: 20px;
}
.btninicio input{
    color: white;
    font-weight: 600;
}
.campos{
    font-weight: 600;
    font-size: 20px;
    margin: 0;
    padding: 0!important;
}
.field{
    background: #F6F6F6;
    border-radius: 10px;
    box-shadow: inset 0px 1px 4px rgb(0 0 0 / 25%);
}
.field input{
    margin-bottom: 0!important;
    border: 0!important;
}
.input-field .prefix.active {
    color: #35bd98!important;
}
/* Inicio Estudiante*/
.bienvenido{
    background: linear-gradient(to right, #42BFE6, #34BC83);
    border-radius: 20px;
    padding: 0!important;
    margin: 0;
}
.texto_bienvenidia{
    background:white;
    margin: 30px!important;
    border-radius: 20px;
    padding: 30px!important;
}
.texto_bienvenidia h2{
    font-size: 30px;
    font-weight: 700;
    text-align: left;
    margin: 0;
}
.texto_bienvenidia p{
    text-align: left;
    margin-bottom: 0;
}
.bienvenido lottie-player{
    margin: 0;
    margin-top: -15px;
    margin-left:-15px ;
}
.caja_bienvenido{
    display: flex;
}
.caja_bienvenido .l9{
    height: 100%;
}
.banner{
    border-radius: 20px;
    margin-left: 30px;
}
.animacion{
    display: flex;
    align-content: center;
    height: 100%;
}
.vistarapida h2{
    font-size: 30px;
    font-weight: 700;
    text-align: left;
    margin: 0;
    
}
.vistarapida{
    margin-top: 40px;
}

.caja_vista a{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 20px;
    padding: 20px!important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.caja_vista p{
    color: black;
    font-size: 25px;
    font-weight: 500;
    margin-left: 40px;
}
.vistarapida .cajas{
    margin-top: 30px;
}